body{
    background-color:#C1C1C1;
    background: #C1C1C1;
    background-image: url(/images/Rectangle\ 48.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    animation-name: melt;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    margin:0;
    padding: 1px;
    overflow-x:hidden;
}

@keyframes melt {
    0%{opacity: 0%;background-position: 0 0;}
    100%{opacity: 100%;background-position: auto;}
}
@font-face {
    font-family: 'noto_sansbold';
    src: url('notosans-bold-webfont.woff2') format('woff2'),
         url('notosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.header{
 
}
.navbar{
    list-style: none;
}
li{
    float: right;
    font-family: 'noto_sansbold', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 33px;
}

li a{
    text-decoration: none;
    margin: 20px;
    color: black;

}
li a:hover{
    color: #BE2742;
}
.resume a{
    color:#BE2742;
}
.resume a:hover{
    color: black;
}
.logo{
    color: #BE2742;
}

.design{
    display: flex;
    justify-content: flex-start;
    position: absolute;
}
.whitebg{
    position:fixed;
    z-index: -2;
    padding: 0;
    margin: 0;
}
.rectangle{
    /* Rectangle 1 */
width: 96px;
background: #BE2742;
border-radius: 53px;
transform: rotate(33.48deg);
margin:1rem;
position: relative;
float: left;
height: 50vw;
animation-name: domino;
animation-duration: 2s;
animation-fill-mode: both;
}
.rectangle2{
    /* Rectangle 2 */
width: 29.05px;
background: #BE2742;
border-radius: 53px;
transform:rotate(60 deg);
margin: 1rem;
position: relative;
float: left;
height: 40vw;
animation-name: domino2;
animation-duration: 2s;
animation-delay:1s;
animation-fill-mode: both;

}
.rectangle3{
    width: 29.05px;
    background: #BE2742;
    border-radius: 53px;
    transform:rotate(60 deg);
    margin: 1rem;
    position: relative;
    float: right;
    height: 40vw;
    animation-name: domino3;
    animation-duration: 2s;
    animation-delay:1s;
    animation-fill-mode: both;
}
.rectangle4{
    width: 96px;
background: #BE2742;
border-radius: 53px;
transform: rotate(33.48deg);
margin:1rem;
position: relative;
float: right;
height: 50vw;
animation-name: domino4;
animation-duration: 2s;
animation-fill-mode: both;
}
 @keyframes domino{
     0% {transform:translateX(-20vw) rotate(40deg) translateY(100vw);}
     100% {transform:translateX(-5vw) rotate(33.48deg);} /*hello*/
 }
 @keyframes domino2{
    0% {transform:translateX(-20vw) rotate(40deg) translateY(100vw);}
    100% {transform:translateX(-1vw) rotate(33.48deg) translateY(20vw);} /*hello*/
}

@keyframes domino3{
    0% {transform:translateX(120vw) translateY(10vw);}
    100% {transform:translateX(100vw) rotate(-45.48deg) translateY(-5vw);} /*hello*/
}
@keyframes domino4{
    0% {transform:translateX(120vw) translateY(100vw);}
    100% {transform:translateX(90vw) rotate(-45.48deg) ;} /*hello*/
}

.lamp{
    display: flex;
 justify-content: center;
 position: absolute;
 width: 100%;
 padding: 0;
 margin-top: -1px;
 margin-bottom: 20px;
 animation: dropdown 1.5s forwards ease-out;
 z-index:-1;
}
@keyframes dropdown{
    0%{transform: translateY(-10vw) rotate(-40deg);}
    25%{transform: translateY(20vw), rotate(60deg); transform-origin: top;}
    30%{transform: rotate(50deg); transform-origin: top;}
    50%{transform: rotate(-40deg); transform-origin: top;}
    60%{transform: rotate(40deg); transform-origin: top;}
    75%{transform: rotate(-30deg); transform-origin: top;}
    90%{transform: rotate(20deg); transform-origin: top;}
    100%{transform: rotate(0deg),translateY(-20vw); transform-origin: top;}


}
.animation{
align-items: center;
width: 100%;
margin-top: -20px;
padding: 0;
}
.pcAnimation{
    margin: 0 auto;
    width: 100%;
  transform: translate(0, 50%);
  display: flex;
  justify-content: center;
}
 .intro{
    display: flex;
    justify-content: flex-start;
    transform: translateY(5vw);
    width: 100%;
    position: relative;
    margin: 20px;
 }
 .intro .textintro{
    font-family: 'noto_sansbold', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 4vw;
    padding-left: 20%;
    color: black;
    text-shadow: 2px 2px #BE2742;
    position: absolute;
    overflow: hidden;
    border-right: 3px solid #BE2742;
    width: 11ch;
    white-space: nowrap;
    animation: typeani 2s steps(12) forwards;
    animation-delay: 1s;
 }
 @keyframes typeani {
    0%{
        width: 0%;
    }
    50% { border-color: #BE2742; } 
    100%{
        width: 10.5ch;
    }
 }
