body{
    background-color:#C1C1C1;
    background: #C1C1C1;
    background-image: url(/images/Rectangle\ 48.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: melt;
    animation-duration: 2s;
    animation-fill-mode:forwards;
}

@keyframes melt {
    0%{opacity: 0%;background-position: 0 0;}
    100%{opacity: 100%;background-position: auto;}
}
@font-face {
    font-family: 'noto_sansbold';
    src: url('notosans-bold-webfont.woff2') format('woff2'),
         url('notosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.header{
 flex: content;   
}
.navbar{
    list-style: none;
}
li{
    float: right;
    font-family: 'noto_sansbold', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 33px;
}

li a{
    text-decoration: none;
    margin: 20px;
    color: black;
}
.resume a{
    color:#BE2742;
}
.logo{
    color: #BE2742;
}
.design{
    float: left;
    position: absolute;
}
.whitebg{
    position:fixed;
    ;
    z-index: -1;
    padding: 0;
    margin: 0;
}
.rectangle{
    /* Rectangle 5 */
width: 96px;
background: #BE2742;
border-radius: 53px;
transform: rotate(33.48deg);
margin:1rem;
position: relative;
float: left;
height: 50vw;
animation-name: domino;
animation-duration: 2s;
animation-fill-mode: both;
}
.rectangle2{
    /* Rectangle 7 */
width: 29.05px;
background: #BE2742;
border-radius: 53px;
transform:rotate(60 deg);
margin: 1rem;
position: relative;
float: left;
height: 40vw;
animation-name: domino2;
animation-duration: 2s;
animation-delay:1s;
animation-fill-mode: both;

}
/* .rectangle3{
    display: block;
width: 25.5px;
background: #BE2742;
border-radius: 53px;
transform: rotate(33.48deg);
margin: 1rem;
position: relative;
float: left;
height: 50vw;
animation-name: domino;
animation-duration: 2s;
animation-delay: 2s;
animation-fill-mode: both;
}*/
 @keyframes domino{
     0% {transform:translateX(-20vw) rotate(40deg) translateY(100vw);}
     100% {transform:translateX(-5vw) rotate(33.48deg);} /*hello*/
 }
 @keyframes domino2{
    0% {transform:translateX(-20vw) rotate(40deg) translateY(100vw);}
    100% {transform:translateX(-1vw) rotate(33.48deg) translateY(20vw);} /*hello*/
}


 .intro{
    font-family: 'noto_sansbold', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 100px;
    transform: translateZ(100px);
    position: absolute;
    color: black;
    padding: 5vw;
    text-shadow: 2px 2px #BE2742;
    animation-name: textentry;
animation-duration: 2s;
animation-delay: 2s;
animation-fill-mode: both;
 }
 @keyframes textentry {
    0% {transform:translateX(-200vw)}
    100% {transform:translateX(10vw);}
 }